<!DOCTYPE html>
<html>
  <head>
    <title>SpectreClient</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <nav class="navbar navbar-light bg-light justify-content-end mb-5">
        <%= current_user.first_name %> <%= current_user.last_name %> (<%= current_user.email %>)
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-light ml-2' %>
      </nav>
    <% end %>

    <div class="container">
      <% if notice.present? %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= notice %>

          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <% if alert.present? %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= alert %>

          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <div class="<%= 'devise-content text-center' unless user_signed_in? %>">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
